<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container main-container">
      <div class="col-md-6 col-md-offset-3">
        <% if user_signed_in? %>
          <span>Logged in, Hi <%= current_user.name %></span>

          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'pull-right btn btn-primary') %>
        <% else %>
            <%= link_to('Login', new_user_session_path)  %>
        <% end %>

        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
